<div class="lower">
  <div class="logo-lower">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="" />
      <span class="blue">We<span class="red">tick</span></span>
    </div>
    <div>
      Find events you love with our
      <div><img src="./assets/img/social_media.png" alt="" /></div>
    </div>
  </div>
  <div>
    <div class="lower-title-text">Wetick</div>
    <div class="lower-content-text">About us</div>
    <div class="lower-content-text">Features</div>
    <div class="lower-content-text">Blog</div>
    <div class="lower-content-text">Payments</div>
    <div class="lower-content-text">Mobile App</div>
  </div>
  <div>
    <div class="lower-title-text">Features</div>
    <div class="lower-content-text">Booking</div>
    <div class="lower-content-text">Create Event</div>
    <div class="lower-content-text">Discover</div>
    <div class="lower-content-text">Register</div>
  </div>
  <div>
    <div class="lower-title-text">Company</div>
    <div class="lower-content-text">Partnership</div>
    <div class="lower-content-text">Help</div>
    <div class="lower-content-text">Terms Of Service</div>
    <div class="lower-content-text">Privacy Policy</div>
    <div class="lower-content-text">Sitemap</div>
  </div>
</div>
<div class="copyright">
  <div>© 2020 Wetick All Rights Reserved</div>
</div>
