<div class="upper">
  <div class="nav-menu">
    <div class="logo">
      <a href="index.html">
        <img src="./assets/icon/logo.png" alt="" />
        <span class="blue">We<span class="red">tick</span></span>
      </a>
    </div>
    <div class="menu">
      <button type="button" id="menu">
        <img src="./assets/icon/menu.png" alt="" />
      </button>
    </div>
  </div>
  <div class="text-nav" id="text-nav">
    <span class="upper-content">
      <a href="index.html">Home</a>
    </span>
    <span class="upper-content">
      <a href="create-event.html">Create Event</a>
    </span>
    <span class="upper-content">
      <a href="/index.html#city">Location</a>
    </span>
  </div>
  <div class="user" id="user">
    <a href="profile.html">
      <div class="circle-border">
        <div class="img-border">
          <img class="img-icon-user" src="./assets/img/man.png" alt="" />
        </div>
      </div>
      <div>Jhon Tomson</div>
    </a>
  </div>
</div>
