* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgba(55, 58, 66, 1);
  font-size: 12px;
}
.outer {
  background-color: #f4f7ff;
}
.left {
  flex: 40%;
}
.right {
  flex: 60%;
}
.inner {
  background-color: white;
  border: 1px white solid;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  position: relative;
  top: 60px;
}
.stadium-border {
  width: 500px;
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.inner-separator {
  display: flex;
  padding-top: 78px;
  padding-bottom: 67px;
  width: 90%;
  margin: auto;
}
.user {
  display: flex;
  align-items: center;
}
.user-icon {
  width: 55px;
  height: 55px;
}
.blue {
  font-size: 24px;
  font-weight: 600;
  color: blue;
}
.red {
  font-size: 24px;
  font-weight: 600;
  color: red;
}
.upper-content {
  margin-right: 20px;
}
.button {
  margin-top: 30px;
  width: 320px;
  height: 40px;
  border-radius: 10px;
  background-color: #3366ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 1px 1px 1px #3366ff;
}
.lower {
  margin-top: 100px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.logo {
  font-size: 24px;
  width: 47px;
  height: 50px;
  align-items: center;
  display: flex;
}
.logo-lower {
  position: relative;
  left: 13%;
}
.lower-content-text {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  color: rgba(193, 197, 208, 1);
}
.small-text-content {
  font-weight: 500;
  color: rgba(189, 192, 196, 1);
}
.border-tickets {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.tickets {
  width: 375px;
}
.title-tickets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 375px;
  height: 45px;
}
.title-tickets div:first-child {
  font-size: 20px;
}
.tickets-content {
  display: flex;
  width: 375px;
  justify-content: space-between;
}
.sort-tickets {
  display: flex;
  align-items: center;
}
.sort-tickets div:first-child {
  font-size: 12px;
  color: rgba(252, 16, 85, 1);
}
button {
  background: transparent;
  border: 1px solid rgba(193, 197, 208, 1);
  border-radius: 10px;
  width: 33px;
  height: 30px;
}
.btn-tickets {
  display: flex;
  gap: 25px;
  align-items: center;
}
.img-border {
  width: 45px;
  height: 45px;
}
.price-tickets {
  text-align: center;
}
img {
  width: 100%;
  object-fit: contain;
}
.control {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.content {
  display: flex;
  flex-direction: column;
}
.content div:nth-child(3) {
  position: relative;
  top: 20px;
}
.ticket-price {
  display: flex;
  justify-content: space-between;
  width: 375px;
}
.right-ticket-price {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}
.left-ticket-price {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
  text-align: right;
  color: rgba(51, 102, 255, 1);
}
.button-payment {
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(51, 102, 255, 1);
  border: none;
  box-shadow: 0 8px 10px rgba(35, 149, 255, 0.3);
  width: 315px;
  height: 55px;
}
